.advantages {
  margin-bottom: 49px;
}

.advantages__title {
  color: var(--color-text);
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width:$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap:154px 37px;
  }

  @media (min-width:$desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  @media (min-width:$tablet-width) {
    width: 230px;
  }

  @media (min-width:$desktop-width) {
    width: 250px;
  }
}
