.button {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  background-color: var(--basic-green);
  appearance: none;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &--big {
    padding: 13px 64px 10px;
  }

  &--link {
    background-color: var(--basic-grey);
    color: var(--color-text);
    padding: 4px 20px 4px 0px;
  }

  &--card {
    padding: 10px 109px;
    @media (min-width:$tablet-width){
      padding: 10px 94px;
    }
    @media (min-width:$desktop-width){
      padding: 10px 53px;
    }
  }
  &--additional {
    @media (min-width:$tablet-width){
      padding: 10px 94px;
    }
    @media (min-width:$desktop-width){
      padding: 10px 91px;
    }
  }
  &--card-more {
    background-color: var(--basic-grey);
    color: #444444;
    padding: 10px 95px;
    @media (min-width:$tablet-width){
      padding: 10px 94px;
    }
    @media (min-width:$desktop-width){
      padding: 10px 53px;
    }
  }
  &--form {
    padding: 10px 105px;
    margin-bottom: 21px;
  }
}
