.catalog-product{
  margin-bottom: 25px;
  @media (min-width:$tablet-width) {
    margin-bottom: 70px;
  }
  @media (min-width:$tablet-width) {
    margin-bottom: 76px;
  }
}
.catalog-product__title {
  padding: 27px 0 41px 0;

  @media (min-width:$tablet-width) {
    padding: 65px 0 165px 0;
  }

  @media (min-width:$desktop-width) {
    padding: 74px 0 165px 0;
  }
}
