// заголовок
.catalog-product__title {
  padding: 27px 0 41px 0;

  @media (min-width:$tablet-width) {
    padding: 65px 0 84px 0;
  }

  @media (min-width:$desktop-width) {
    padding: 74px 0 84px 0;
  }
}

.product-card__wrapper {
  @media(min-width:$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.product-card {
  @media(min-width: $mobile-width) {
    padding: 20px 0 25px 0;
  }
  @media (min-width:$tablet-width){
    width: 324px;
  }
  @media (min-width:$desktop-width){
    width: 245px;
  }


}

.product-card__container {
  @media (max-width:$mobile-width) {
    display: flex;
    padding: 20px 0 25px 0;
  }
 
}

.product-card__list {
  width: 140px;

  @media (min-width:$tablet-width) {
    width: 250px;
  }

  @media (min-width:$desktop-width) {
    width: 169px;
  }
}

.product-card__item {
  display: flex;
  justify-content: space-between;
}
