.contacts {
  position: relative;

  @media (min-width:$mobile-width) {
    margin: 0 auto;
  }

  @media (min-width:$tablet-width) {
    margin: 0 auto;
  }

  @media (min-width:$desktop-width) {
    width: 565px;
    padding: 0;
    margin: 0;
  }

  &--color {
    @media (max-width:1339px) {
      background-color: var(--basic-grey);
    }
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 320px;
  width: 100%;
  padding: 26px 20px;

  @media (min-width:$tablet-width) {
    padding: 62px 69px;
    max-width: 768px;
    grid-template-columns: repeat(2, 350px);
    gap: 122px;
  }

  @media (min-width:$desktop-width) {
    grid-template-columns: repeat(2, 140px);
    background-color: #ffffff;
    width: 565px;
    padding: 60px 80px;
    box-sizing: border-box;
    position: absolute;
    left: 110px;
    bottom: -296px;
    z-index: 1;
    gap: 109px;
  }
}

.contacts__title {
  margin: 0;
  color: var(--color-text);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width:$mobile-width) {
    width: 140px;
  }

  @media (min-width:$tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}

.contacts__adress {
  @media (min-width:$mobile-width) {
    width: 140px;
  }

  @media (min-width:$tablet-width) {
    width: 157px;
    text-align: right;
  }

  @media (min-width:$desktop-width) {
    text-align: left;
  }
}

.contacts__adress__office {
  font-style: normal;
  margin: 0;

  @media (min-width:$tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width:$desktop-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.contacts__block {
  @media (min-width:$tablet-width) {
    display: block;
    padding-top: 20px;
  }
}
