.footer-social {
  @media (min-width:$mobile-width) {
    padding: 20px 74px;
  }
}

.footer-social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__link {
  display: block;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
