.footer-social {
  padding-top: 21px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width:$tablet-width) {
    border: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-bottom: 0;
  }
}

.footer-social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  width: 28px;
  height: 22px;
  transition: color 0.3s ease-in-out;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    mask-position: center;
    background-color: #666666;
  }
}


.footer-social__link--vk::before {
  mask-image: url("../img/stack.svg#vkontakte");

}

.footer-social__link--youtube::before {
  mask-image: url("../img/stack.svg#youtube");
}

.footer-social__link--telegram::before {
  mask-image: url("../img/stack.svg#telegram");
}

.footer-social__link:hover:before {
  background-color: #68b738;
}
.footer-social__link:active:before {
  background-color: #68b738;
      opacity: 0.3;
}
