.page-header {
<<<<<<< HEAD
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 14px;
=======
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width:$tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width:$desktop-width) {
    padding-top: 55px;
  }
}

.page-header__wrapper {
  @media (min-width:$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
>>>>>>> module4-task1
}
