.icon::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  right: 11px;
  top:18px;
  mask-size: cover;
  mask-repeat: no-repeat;
}
.icon--email::before{
mask-image: url("../../img/icon-email.svg");
background-color: #000000;
}
.icon--tel::before{
  mask-image: url("../../img/icon-tel.svg");
  background-color: #000000;
}


