.icon {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    right: 13px;
    top: 13px;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #000000;

    @media (min-width: $tablet-width) {
      right: 15px;
      top: 16px;
    }
  }

  &:focus-within::before {
    background-color: var(--basic-green);
  }

  &:has(:invalid)::before {
    background-color: #ff0000;
  }
}

.icon--email::before {
  mask-image: url("../../img/icon-email.svg");
}

.icon--tel::before {
  mask-image: url("../../img/icon-tel.svg");
}
