.icon {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    right: 11px;
    top: 18px;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #000000;
  }

  &:focus-within::before {
    background-color: var(--basic-green);
  }

  &:has(:invalid)::before {
    background-color: #ff0000;
  }
}

.icon--email::before {
  mask-image: url("../../img/icon-email.svg");

}

.icon--tel::before {
  mask-image: url("../../img/icon-tel.svg");
}
