.page-header__logo {
  display: flex;
  align-items: center;
  height: 38px;

  @media (min-width:$desktop-width) {
    height: 50px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__img {
  @media (min-width:$tablet-width) {
    margin-right: 13px;
  }
}

.page-header__text {
  width: 101px;
  height: 18px;

  @media (max-width:$mobile-width-only) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
 @media (min-width:$desktop-width) {
  width: 118px;
  height: 21px;
 }
}
