.page-navigation__toggle {
  @media (min-width:$tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-navigation__list {
  @include list ();

  @media (max-width:$tablet-width) {
    display: none;
  }

  @media (min-width:$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 0 12px 0;
  }

  @media (min-width:$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 13px 0;
  }
}

.page-navigation__item:not(:last-child) {
  @media (min-width:$tablet-width) {
    margin-right: 33px;
  }

}

.page-navigation__link {
  color: var(--color-text);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
  display: block;
  text-transform: uppercase;
}
