.product-additional {
  margin-bottom: 35px;
}

.product-additional__inner {
  @media (min-width:$desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
  }
}

.product-additional__title {
  color: var(--color-text);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width:$mobile-width) {
    margin-bottom: 34px;
  }

  @media (min-width:$tablet-width) {
    margin-bottom: 87px;
    text-align: left;
    font-size: 36px;
    margin-left: 40px;
  }

  @media (min-width:$desktop-width) {
    margin-left: 0;
  }
}

.product-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;

  @media (min-width:$mobile-width) {
    width: 280px;
  }

  @media (min-width:$tablet-width) {
    width: 708px;
    border: 1px solid rgb(205, 205, 205);
    margin-bottom: 68px;
  }

  @media (min-width:$desktop-width) {
    width: 894px;
    border: none;
  }
}

.product-additional__item {
  @media (min-width:$mobile-width) {
    padding: 13px 0 19px 0;
    border-top: 1px solid rgb(205, 205, 205);
  }

  @media (min-width:$tablet-width) {
    padding: 27px 38px 29px 37px;
    display: grid;
    grid-template-columns: 400px auto;
    row-gap: 9px;
    border-top: none;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(205, 205, 205);
    }
  }


  @media (min-width:$desktop-width) {
    padding: 15px 0 17px 0;
    grid-template-columns: 285px 285px 244px;
    column-gap: 40px;
    align-items: center;
  }
}

.product-additional__container {
  margin: 0;

  @media (max-width:$tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width:$mobile-width) {
    display: grid;
    grid-template-columns: 132px auto;
  }

  @media (max-width:$mobile-width-only) {
    gap: 112px;
  }

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: 132px auto;
    gap: 49px;
  }

  @media (min-width:$desktop-width) {
    gap: 112px;
  }
}

.product-additional__volume {
  @media (min-width:$tablet-width) {
    font-size: 16px;
    display: inline;
    text-align: right;
  }

  @media (min-width:$desktop-width) {
    text-align: left;
  }
}

.product-additional__price {
  @media (min-width:$tablet-width) {
    font-size: 16px;
  }
}

.product-additional__subtitle {
  color: var(--color-text);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (max-width:$tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width:$tablet-width) {
    font-size: 20px;
  }
}

.product-additional__wrapper {
  width: 280px;
  padding: 186px 61px 44px 58px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url(../../img/img-gift.png) 1x,
      url(../../img/img-gift2x.png) 2x);

  @media (min-width:$tablet-width) {
    width: 707px;
    padding: 71px 125px 69px 77px;
    box-sizing: border-box;

    padding: 71px 125px 69px 421px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url(../../img/img-gift-tablet.png) 1x,
        url(../img/image-gift-tablet2x.png) 2x);

  }

  @media (min-width:$desktop-width) {
    width: 245px;
    height: 288px;
    padding: 186px 42px 43px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url(../../img/img-gift.png) 1x,
        url(../../img/img-gift2x.png) 2x);
    padding: 186px 42px 43px;
  }
}

.product-additional__promo {
  margin: 0;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
}

.bg {
  @media (max-width:$tablet-width) {
    display: flex;
  }
}

.product-additional__promo::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/icon/gift-promo.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 83px;
  top: -130px;
  right: 39px;

  @media (min-width:$tablet-width) {
    top: -13px;
    right: 436px;
  }

  @media (min-width:$desktop-width) {
    top: -130px;
    right: 39px;
  }
}
