.product-card{
  padding-top: 20px;
  padding-bottom: 20px;
}


.product-card__link {
  display: block;
  text-decoration: none;
}
.product-card__img{
  display: block;

}
.product-card__title {
  margin: 0;
  color: var(--color-text);
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  &--more{
    text-align: center;
    margin-bottom: 15px;
  }
}
.product-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card__description{
  text-align: center;
  margin: 0 0 23px 0;
}
