.program-form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  &--profile {
    @media (min-width:$tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 0;
    }
  }

  &--radio {
    @media (min-width:$tablet-width) {
      margin-bottom: 64px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    margin-bottom: 31px;

    @media (min-width:$tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 60px;
    }
  }

  &--owner {
    @media (min-width:$tablet-width) {
      margin-bottom: 66px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 69px;
    }
  }

  &--feedback {
    @media (min-width:$tablet-width) {
      margin-bottom: 63px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 67px;
    }
  }
}

.program-form__inner {
  @media (min-width:$desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.program-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 13px;

  @media (min-width:$tablet-width) {
    gap: 20px;
  }

  &--profile {
    gap: 20px;
  }

  &--radio {
    gap: 13px;
  }

  &--owner {
    @media (min-width:$desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }
  }

  &--checkbox {
    @media (min-width:$mobile-width) {
      gap: 13px;
    }

    @media (min-width:$tablet-width) and (max-width:$desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 59px;
    }

    @media (min-width:$desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }
}

.program-form__list--radio {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);

  @media (min-width:$tablet-width) {
    padding: 23px 27px 27px;
    border: 1px solid rgb(205, 205, 205);
  }

  @media (min-width:$desktop-width) {
    padding: 25px 28px;
  }
}

.program-form__item {
  &--profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 13px;
  }

  &--icon {
    position: relative;
  }
}

.program-form__text {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &--profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 13px;
  }
}

.program-form__input {
  margin: 0;
  display: inline-block;
  appearance: none;
  border: 1px solid rgb(205, 205, 205);
  padding: 14px 33px 11px 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  color: #444444;
  cursor: pointer;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding: 7px 40px 13px 20px;
  }
}

.program-form__input[type="number"]::-webkit-inner-spin-button,
.program-form__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.program-form__input {
  appearance: textfield;
}

.program-form__input:not(:disabled):hover {
  border: 1px solid #bababa;
}

.program-form__input:not(:disabled):focus {
  border: 1px solid #000000;
}

.program-form__input:not(:disabled):invalid {
  border: 2px solid #ff8282;
}

.program-form__input:disabled {
  opacity: 0.3;
}


.control {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.program-form__title {
  color: var(--color-text);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 37px;
  padding: 0;

  @media (min-width:$tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &--additionally {
    margin-bottom: 30px;

    @media (min-width:$tablet-width) {
      margin-bottom: 56px;
    }
  }

  &--owner {
    @media (min-width:$tablet-width) {
      margin-bottom: 76px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 75px;
    }
  }

  &--feedback {
    @media (min-width:$tablet-width) {
      margin-bottom: 84px;
    }

    @media (min-width:$desktop-width) {
      margin-bottom: 79px;
    }
  }
}


.program-form__feedback {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 5px 99px 15px;
  border: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  resize: vertical;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 5px 104px 21px;
  }

  @media (min-width:$desktop-width) {
    padding: 7px 5px 104px 21px;
  }

  &:hover {
    border-color: #bababa;
    box-shadow: 0 0 5px var(--basic-green);
  }

  &:disabled {
    opacity: 0.3;
  }
}


.program-form__submit {
  @media (min-width:$tablet-width) {
    display: flex;
  }
}

.program-form__required {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  text-align: center;

  @media (min-width:$tablet-width) {
    padding-top: 16px;
  }
  @media (min-width:$desktop-width) {
    padding-top: 19px;
  }
}
