.ration {
  margin-bottom: 23px;

  @media (min-width:$tablet-width) {
    margin-bottom: 42px;
    margin-top: -21px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 70px;
    margin-top: 0;
  }
}

.ration__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width:$mobile-width) {
    flex-direction: column;
    gap: 23px;
  }

  @media (min-width:$tablet-width) {
    gap: 27px;
  }

  @media (min-width:$desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.ration__item {
  background-color: var(--basic-grey);
  box-sizing: border-box;

  @media (min-width:$mobile-width) {
    width: 280px;
    padding: 30px 33px 15px 20px;
  }

  @media (min-width:$tablet-width) {
    width: 708px;
    padding: 77px 63px 53px 52px;

  }

  @media (min-width:$desktop-width) {
    width: 570px;
    padding: 77px 61px 54px 52px;
  }
}

.ration__subtitle {
  margin: 0;
  margin-bottom: 29px;
  color: var(--color-text);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  @media (min-width:$tablet-width) {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width:$desktop-width) {
    text-align: center;
    margin-bottom: 73px;
    padding-left: 34px;
  }

  &--position {
    @media (max-width:$mobile-width-only) {
      padding-left: 69px;
    }
  }

  &--left {
    @media (min-width:$desktop-width) {
      padding-left: 74px;
    }
  }
}


.ration__subtitle::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--basic-green);

  @media (min-width:$mobile-width) {
    width: 50px;
    height: 50px;
    left: 0;
    top: -4px;
  }

  @media (min-width:$tablet-width) {
    width: 200px;
    height: 200px;
    left: 394px;
    top: 15px;
  }

  @media (min-width:$desktop-width) {
    width: 100px;
    height: 100px;
    left: 2px;
    top: -30px;

  }
}

.ration__subtitle--cat::after {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;

  @media (min-width:$mobile-width) {
    width: 36px;
    height: 50px;
    background-image: url("../../img/icon/icon-ration-cat-mobile.svg");
    top: -9px;
    left: 9px;
  }

  @media (min-width:$tablet-width) {
    width: 141px;
    height: 194px;
    background-image: url("../../img/icon/icon-ration-cat-tablet.svg");
    top: 4px;
    left: 71%;
  }

  @media (min-width:$desktop-width) {
    width: 70px;
    height: 97px;
    background-image: url("../../img/icon/icon-ration-cat-desktop.svg");
    top: -38px;
    left: 17px;
  }
}

.ration__subtitle--tiger::after {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;

  @media (min-width:$mobile-width) {
    width: 67px;
    height: 29px;
    background-image: url("../../img/icon/icon-ration-tiger-mobile.svg");
    top: 6px;
    left: -13px;
  }

  @media (min-width:$tablet-width) {
    width: 268px;
    height: 112px;
    background-image: url("../../img/icon/icon-ration-tiger-tablet.svg");
    top: 57px;
    left: 61%;
  }

  @media (min-width:$desktop-width) {
    width: 134px;
    height: 56px;
    background-image: url("../../img/icon/icon-ration-tiger-desktop.svg");
    top: -11px;
    left: -17px;
  }
}


.ration__text {
  margin: 0;
  margin-bottom: 38px;
  position: relative;

  @media (min-width:$tablet-width) and (max-width:1339px) {
    width: 340px;
  }

  @media (min-width:$tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 27px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;

    @media (max-width:$mobile-width-only) {
      background-color: #d9d9d9;
      height: 1px;
      right: 0;
      left: 0;
      bottom: -22px;
    }
  }
}
